* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #270e2d;
}

nav {
    background-color: #270e2d;
}

.nav-item-heading {
    text-shadow: 1px solid #bd00ff;
    color: white;
    border-bottom: #bd00ff 2px dashed;
    padding: 5px;
}

.nav-item-account {
    border-radius: 25px;
    background-color: black;
    color: white;
    width: 115px;
    padding: 7px;
    text-align: center;
    box-shadow: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.247), 0 4px 8px 0 rgba(255, 255, 255, 0.247);
}

button.bttn-primary {
    background-color: #bd00ff;
}

text.nav-item-text {
    color: white;
}

div.offcanvas {
    background-color: #270e2d;
    max-width: 75%;
}

button.btn-close {
    margin-left: 5%;
    margin-top: 5%;
}

img.rounded-sm {
    max-width: 45%;
    max-height: 82%;
}

.sidebar-line {
    border: 2px solid;
    max-width: 100%;
}

.offcan {
    padding: 10px;
    border-bottom: gray 3px solid;
}

.sidebar-ul {
    padding: 10px;
    border-bottom: gray 3px solid;
}

.sidebar-item-heading {
    text-shadow: 1px solid #bd00ff;
    color: white;
    padding: 5px;
}

.sidebar-text {
    font-size: 11px;
    color: white;
    padding: 10px;
}

.first-section {
    background-color: #270e2d;
}

.trip-about {
    padding-top: 0%;
    max-width: 63%;
    padding-left: 12%;
    padding-right: 8%;
}

.trip-text1 {
    color: white;
    font-size: 1.4rem;
}

.trip-text2 {
    color: white;
    font-size: 1.2rem;
}

.home-button {
    border: none;
    color: white;
    padding: 6px;
}

.try-button {
    height: 50px;
    width: 152px;
    color: white;
    margin-left: 97px;
    border: none;
}

.btn {
    padding: 10px;
}

.text-under-logo {
    margin: 30px;
}

.rounded-lg {
    margin-bottom: 5%;
    margin-right: 0%;
    max-width: 100%;
}

.container-wave {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #270e2d;
}

.wave-one {
    position: absolute;
    right: 0;
    top: 18.4%;
    bottom: 0;
    max-width: 70%;
    margin-left: 30%;
    z-index: 1;
}

.wave-two {
    top: 40%;
    bottom: 0;
    max-width: 71.9%;
    margin-left: 28.1%;
    z-index: -1;
}

.section-two {
    background-color: #bd00ff;
}

.container-logo {
    padding-left: 14%;
}

.container-profile {
    padding-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}


/*
.container-profile {
    padding-top: 15%;
   margin: 20px;
    padding: 30px;
}
*/

.card {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    background-color: #270e2d;
    border-radius: 10px;
    color: white;
}

.rounded-circle {
    margin: 35px;
    align-self: center;
}

.card-title {
    border-bottom: gray 3px double;
}

.profile {
    padding: 30px;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.row {
    margin: 5px;
}

.footer {
    color: white;
    border: 1px solid white;
}